.app-layout {
  min-height: 100vh;
  background: #080808;
}

.main-content {
  min-height: calc(100vh - 76px);
  color: #ffffff;
  padding: 30px;
}

.main-content h1 {
  font-size: 24px;
  font-weight: 600;
}