.sidebar {
  position: sticky;
  top: 72px;

  width: 365px;
  min-width: 365px;
  height: calc(100vh - 72px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 26px 16px 24px;

  background: #050505;
  border-right: 1px solid #202026;

  overflow-y: auto;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-item {
  position: relative;

  width: 100%;
  height: 60px;

  display: flex;
  align-items: center;

  gap: 18px;
  padding: 0 20px;

  background: #050505;
  color: #9d9da6;

  border: 1px solid #29292f;
  border-radius: 12px;

  cursor: pointer;
  text-align: left;

  font-size: 16px;
  font-weight: 500;

  transition: all 0.25s ease;
}

.sidebar-item:hover {
  color: #ffffff;
  background: #121218;
  border-color: #494052;

  transform: translateX(3px);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
}

.sidebar-icon {
  width: 28px;
  min-width: 28px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 25px;

  color: #a6a6af;

  transition: all 0.25s ease;
}

.sidebar-item:hover .sidebar-icon {
  color: #a970ff;
}

.sidebar-label {
  white-space: nowrap;
}

/* ACTIVE HOME */

.sidebar-item.active {
  color: #ffffff;

  background: linear-gradient(
    90deg,
    rgba(160, 94, 255, 0.17),
    rgba(160, 94, 255, 0.04)
  );

  border-color: #4a326d;

  box-shadow:
    0 10px 30px rgba(139, 76, 220, 0.08);
}

.sidebar-item.active::before {
  content: "";

  position: absolute;
  left: -1px;
  top: 10px;
  bottom: 10px;

  width: 4px;

  background: #a970ff;

  border-radius: 0 5px 5px 0;

  box-shadow: 0 0 14px rgba(169, 112, 255, 0.7);
}

.sidebar-item.active .sidebar-icon {
  color: #a970ff;
}

.sidebar-bottom {
  padding-top: 20px;
}

@media (max-width: 1200px) {
  .sidebar {
    width: 280px;
    min-width: 280px;
  }
}

@media (max-width: 900px) {
  .sidebar {
    width: 88px;
    min-width: 88px;
    padding: 22px 10px;
  }

  .sidebar-item {
    justify-content: center;
    padding: 0;
  }

  .sidebar-label {
    display: none;
  }
}

@media (max-width: 640px) {
  .sidebar {
    display: none;
  }
}